.posts {
  display: none;
  width: 100%;

  &.mobile {
    display: flex;
  }

  .posts-header {
    position: fixed;
    top: 0;
    height: 55px;
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size: 18px;
    background: #ffffff;
    z-index: 2;
    width: 100%;

    .back-button{
      margin: 0 40px 0 20px;
    }
  }

  .posts-contnet {
    flex: 1;
    display: flex;
    padding-top: 60px;
    background: #ffffff;
    flex-direction: column;
    width: 100%;
  }
}